
<div class="container mt-5">
  <ul class="list-group">
    <% @projects.each do |project| %>
      <li class="list-group-item"><%= project %></li>
    <% end %>
  </ul>
</div>





  <div class="container mt-5">
    <h1 class="mb-4">My Portfolio</h1>

    <div class="row">
      <!-- Project 1 -->
      <div class="col-md-4">
        <div class="card project-card">
          <img src="https://i.ytimg.com/vi/dlte2Mfg614/default.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project 1</h5>
            <p class="card-text">Description of Project 1.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>
      <!-- Project 1 -->
      <div class="col-md-4">
        <div class="card project-card">
          <img src="https://i.ytimg.com/vi/dlte2Mfg614/default.jpg" class="card-img-top" alt="Project 1">
          <div class="card-body">
            <h5 class="card-title">Project 2</h5>
            <p class="card-text">Description of Project 2.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="col-md-4">
        <div class="card project-card">
          <img src="https://i.ytimg.com/vi/dlte2Mfg614/default.jpg" class="card-img-top" alt="Project 2">
          <div class="card-body">
            <h5 class="card-title">Project 3</h5>
            <p class="card-text">Description of Project 3.</p>
            <a href="#" class="btn btn-primary">View Project</a>
          </div>
        </div>
      </div>

      <!-- Add more project cards as needed -->

    </div>
  </div>

  <!-- Add more project cards as needed -->

</div>
</div>
