<!-- app/views/about/index.html.erb -->
<div class="container mt-5">

  <div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
     
      <%= link_to(image_tag('logo.png', alt: 'Logo', class: 'img-fluid', size: '300x300'), root_path) %>
    </div>
    <div class="col-md-6">
      <h1>About Me</h1>
      <p>
        Hi, I'm Md.Mizanur Rahaman(Sobuz), a passionate web developer with expertise in creating modern and responsive websites.
        I specialize in front-end development using HTML, CSS, and JavaScript, and I also have experience with
        popular frameworks like Bootstrap.
      </p>
      <p>
        My goal is to deliver high-quality and user-friendly web solutions that meet the needs of clients.
        I enjoy staying up-to-date with the latest web technologies and trends to continually improve my skills.
      </p>
    </div>
  </div>
</div>
</div>
